/* TODO: Make it awesome */
body{
  color: yellow;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(192, 192, 192)) no-repeat;
  height: 900px;
  text-align: center;
}